<%= form_with( model: @twt, local: true, url: choose_new_or_edit[:uri] ) do |form| %>        
<header>
  <a href="/twts"><%= image_tag 'home.png', class:'home_icon' %></a>
  <p><%= notice %></p>
  <% if @twt.errors.any? %>
  <div id="error_explanation">
    <h2><%= @twt.errors.count %>件のエラーがあります</h2>
    <ul>
      <% @twt.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>      	  
    </ul>
  </div>
  <% end %>      
</header>
<hr>

<h2><%= choose_new_or_edit[:header] %></h2>
<table border="0">
  <tr>
    <td valign="top">
      <%= image_tag 'shima.png', class: 'profile_icon' %>
    </td>
    <td>
      <%= form.text_area(:content, size: "40x4", placeholder: "いまどうしてる？") %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td align="right">
      <hr>
      <%= form.submit( choose_new_or_edit[:label] ) %>
    </td>
  </tr>
</table>
<% end %>
